@using Blend.Cms12.Models.Blocks.Benefits
@model MembershipBlock
	<!-- Article - Membership -->
	<div class="box-size-100 " style="display: block;">
		<h2>@Model.Content</h2>

		<p>
			<br>
		</p>

		<p><strong>@Model.Title &nbsp;</strong></p>

		<p>
			- @Model.Description1
			<br>- @Model.Description2 &nbsp;
		</p>

		<p>
			<br>
		</p>

		<p>@Model.Description3 &nbsp;</p>

		<p>
			<br>
		</p>
		<div class="pn_article_content box-size-100">
			<br>
		</div>
	</div>

	